extends layout

block content
  h1= Webapps 
  p Welcome to #{title}
  p Saikumar Thangalla pursuing Masters at Northwest Missouri State University
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/institute") Take me to institute
    br
    a(href="/logout") Logout
  br
  div
    button(type="button", class="btn btn-primary", onclick="goFaster()") Press me 
    div#faster Increase the speed
    br
    a(href="/institute") View institute

  script.
    var mph = 20;
    var change = 1;
    
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById("faster").innerText = `MPH ${mph} with change ${change}`;
    }
