extends layout
 
block content
  h1 #{title}
  .container-fluid
    .row
      - const result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          h5.card-title #{item.Name}
          p.card-text   #{item.Size}
          p.card-text   #{item.year}
  script.
    function buy(index) {
      alert(`You purchased item at index: ${index}`);
    }

